@charset "UTF-8";

@import "bootstrap-custom";
@import "fa-svg-with-js";

.site-header > .navbar {
  //border-top: 5px solid $dark;
  border-bottom: 2px solid $light;
}

// nav tabs
.nav-tabs {
  margin-bottom: 1rem;
}

.euro {
  text-align: right;
}

// back-to-top button
#back-to-top {
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  bottom: 40px;
  display:none;
}


$navbarHeight: 58px;

#main {
  margin-top: $navbarHeight + 15px;
  margin-bottom: $navbarHeight + 15px;
}

#main.submenu {
  margin-top: 2*$navbarHeight + 15px;
}

#countdown:before {
  display: inline;
}

.site-header > .navbar {
  background-color: $body-bg;
}

.site-footer {
  border-top: 2px solid $light;
  background-color: $body-bg;
}

.anchor {
  position: relative;
  display: block;
  top: -$navbarHeight;
  visibility: hidden;
}

#filterOptions {
    label {
        margin-right: ($spacer * .25) !important;
    }
    .selectmultiple {
        height: calc(1.5em + 0.75rem + 2px);
    }
}

.breadcrumb {
    background-color: $body-bg;
}
