{% extends "chaos_dating/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ site.title }} - {{ title }}{% endblock %}
{% block css %}
    {{ profile_form.media.css }}
{% endblock %}
{% block javascripts %}
    {{ profile_form.media.js }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="post" action="{% url "edit_profile" %}">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
{% endblock %}

