{% extends "chaos_dating/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block css %}
    {{ filter_form.media.css }}
{% endblock %}

{% block javascripts %}
    {{ filter_form.media.js }}
    <script type="text/javascript">
        "use strict";
        $(function() {
            $('#filterForm').submit(function(event) {
                event.preventDefault();
                let form = document.getElementById('filterForm');
                if (form instanceof HTMLFormElement) {
                    let formData = new FormData(form);
                    $.ajax({
                        url: '{% url "chaos_dating:filterREST" %}',
                        data: formData,
                        success: function(data, textStatus, jqXHR) {
                            $('#profiles').html(data['profiles']);
                        },
                        processData: false,
                        contentType: false,
                        type: 'POST'
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block title %}{{ site.title }} - {% trans "Home" %}{% endblock %}

{% block content %}
    <h1>{% trans "Home" %}</h1>

    <div id="filterOptions" class="mt-2">
        <h4>{% trans "Filter options" %}</h4>
        <form id="filterForm" action="{% url "chaos_dating:filter" %}" method="post" class="form-inline">
            {% include "chaos_dating/filterForm.html" %}
        </form>
    </div>
    <h4>{% trans "Profiles" %}</h4>
    <div id="profiles" class="row row-cols-1 row-cols-md-4">
        {% include "chaos_dating/profiles.html" %}
    </div>

{% endblock %}
