{% extends "chaos_dating/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{{ site.title }} - {% trans "Home" %}{% endblock %}

{% block content %}
    <h1>{% trans "Home" %}</h1>

    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#filterOptions"
            aria-expanded="false" aria-controls="filterOptions">{% trans "Filter options" %}</button>
    <div id="filterOptions" class="{% if collapsed %}collapse {% endif %}mt-2">
        <form action="{% url "chaos_dating:filter" %}" method="post" class="form-inline">
            {% csrf_token %}
            {{ filter_form.non_field_errors }}
            <div class="form-row align-items-center">
                {% for field in filter_form %}
                <div class="col-auto">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">{% trans "Filter!" %}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row row-cols-1 row-cols-md-4">
    {% for profile in profiles %}
        <div class="card m-1" style="width: 18rem;">
            <div class="card-img-top text-center mt-2">
                <span class="fal fa-user-circle fa-6x"></span>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ profile.user.username }}</h5>
                <ul class="list-unstyled">
                    <li><strong>{% trans "Gender" %}:</strong>&nbsp;{{ profile.gender }}</li>
                    <li><strong>{% trans "Pronoun" %}:</strong>&nbsp;{{ profile.pronoun }}</li>
                    <li><strong>{% trans "Wishes" %}:</strong>
                    {% if profile.wishes.count == 0 %}
                        {% trans "No wishes available" %}
                    {% else %}
                        <ul>
                            {% for wish in profile.wishes.all %}
                                <li>{{ wish }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
